.groovy {
  font-size: 38px;
  font-weight: bold;
  font-family: cursive;
  color: firebrick;
  background-color: honeydew;
  text-align: center;
}

.funky {
  font-style: italic;
  color: navy;
  text-align: center;
}

.centered-image {
  float: left;
  width: 60%;
  margin: auto;
  height: auto;
}

.sidebar1 {
  width: 40%;
  padding: 20px;
  border: solid black;
  border-width: 2px;
  margin-bottom: 10px;
  box-sizing: border-box;
  float: left;
  background-color: snow;
  text-align: left;
}

.sidebar2 {
  width: 40%;
  padding: 10px;
  border:solid black;
  border-width: 2px;
  margin-bottom: 10px;
  box-sizing: border-box;
  float: left;
  background-color: snow;
  text-align: left;
  font-size: 14px;
}

.column {
  width: 500px;
  float: left;
}

body {
  background-color: lavender;
}